html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
:root {
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --primary-text-color: #757575;
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  /* padding-top: 80px; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}
.list {
  padding: 0;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
button,
a {
  cursor: pointer;
}
.blue-button {
  display: inline-block;
  color: #ffffff;
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* header */
header {
  border-bottom: 1px solid #ececec;
}
.header {
  background-color: #fff;
  /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
}
.header-nav {
  display: flex;
  align-items: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Логотип */
.main-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}
.main-logo {
  padding-bottom: 25px;
  padding-top: 25px;
}
.main-logo__header {
  color: #000000;
}

/* Навігація */

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .site-nav__item {
  margin-right: 50px;
}
.site-nav .site-nav__item:last-child {
  margin-right: 0;
}
.site-nav__link {
  position: relative;
}

.site-nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  display: none;
}

.site-nav .link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.site-nav__link--current::after {
  color: var(--accent-color);
  display: block;
}

/* Ел. Адреса + номер */
.header-contact {
  display: flex;
  margin-left: auto;
}
.header-contact .header-contact__item + .header-contact__item {
  margin-left: 50px;
}
.header-contact__link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__smartphone,
.header-contact__envelope {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link:hover,
.header-contact__link:focus {
  color: var(--accent-color);
}
.header-contact__link:hover .header-contact__envelope,
.header-contact__link:focus .header-contact__envelope {
  fill: var(--accent-color);
}
.header-contact__link:hover .header-contact__smartphone,
.header-contact__link:focus .header-contact__smartphone {
  fill: var(--accent-color);
}
/* Заголовки */
.section-title {
  color: var(--title-text-color);
}

/* Блок-герой */
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
}
.hero__button {
  min-width: 216px;
  height: 50px;
}
.hero__button:focus,
.hero__button:hover {
  background-color: #188ce8;
}

/* Переваги/особливості */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits {
  padding-top: 94px;
}
.benefits__list {
  display: flex;
  flex-wrap: wrap;
}
.benefits__list .benefits__item {
  width: 270px;
}
.benefits__list .benefits__item + .benefits__item {
  margin-left: 30px;
}
.benefits__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  font-size: 14px;
}
.benefits__text {
  color: var(--main-text-color);
  line-height: 1.7;
  text-align: left;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__icons {
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* чим займаэмося */
.activity {
  padding-top: 94px;
  margin-bottom: 94px;
}
.activity__list {
  display: flex;
  flex-wrap: wrap;
}
.activity__list .activity__item + .activity__item {
  margin-left: 30px;
}
.activity__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
.activity__item {
  position: relative;
}

.activity__text {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  padding: 27px 0px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Спеціалісти */
.team {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
}
.team__list .team__item + .team__item {
  margin-left: 30px;
}
.team__list .social-media {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.team__list .social-media__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.team__list .social-media__item:last-child {
  margin-right: 0;
}
.team__list .social-media__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__list .social-media__link:hover {
  background-color: var(--accent-color);
}
.team__list .social-media__icon {
  fill: #afb1b8;
}
.team__list .social-media__link:hover .social-media__icon {
  fill: #fff;
}

.team__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}

.team__member {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.team__job {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
.team__cards {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* Клиенты */
.clients {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}
.clients__list {
  display: flex;
}
.clients__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.clients__item:last-child {
  margin-right: 0;
}

.clients__item:hover {
  border: 1px solid var(--accent-color);
}
.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover .clients__icon {
  fill: var(--accent-color);
}

/* Футер адреса + номер/ел.пошта */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-flex {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: baseline;
}

/* ССЫЛКИ НА СОЦСЕТИ В ФУТЕРЕ */
.footer-social {
  margin-left: 70px;
  width: 206px;
}
.footer-submit__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: #fff;
}

.footer-social__list {
  display: flex;
  padding: 0;
  margin-top: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.footer-social__link {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  color: #ffffff;
  background-color: #ffffff10;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover,
.footer-social__link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.footer-social__icon {
  margin: 12px 0px 0px 12px;
  fill: #fff;
}
.main-logo__footer {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 20px;
}

.address {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  font-style: normal;
  margin-top: 20px;
}
.address__street {
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__street:hover,
.address__street:focus {
  color: var(--accent-color);
}
.address__contact {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contact:focus,
.address__contact:hover {
  color: var(--accent-color);
}
.address .address__item:not(:last-child) {
  margin-bottom: 9px;
}
/* Рассылка */
.footer-submit {
  margin-left: 93px;
  width: 570px;
}
.footer-submit__form {
  display: flex;
  justify-content: space-between;
}
.footer-submit__input {
  height: 50px;
  width: 358px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: #fff;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  outline: transparent;
}
#submit-mail {
  font-family: "Roboto";
  line-height: 125%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.footer-submit__btn {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.telegram {
  width: 24px;
  height: 24px;
  fill: #fff;
}

/* портфолио */
.portfolio-nav {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-nav__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-nav__list .portfolio-nav__item + .portfolio-nav__item {
  margin-left: 8px;
}
.portfolio-nav__button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 25px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav__button:hover,
.portfolio-nav__button:focus {
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects__item {
  position: relative;
}
.project__title {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project__text {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.9;
}
.projects__item:hover .project__overlay {
  transform: translateY(0);
}
.project-description-text {
  font-size: 18px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
}

.project-position {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(+100%);
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(+100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-border {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.project__link:hover,
.project__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__list {
  position: relative;
}
.project-description {
  background-color: rgba(33, 150, 243, 0.9);
  display: none;
  position: absolute;
  top: 40px;
}
.projects__list .projects__item:hover .project-description {
  display: block;
}

/* модалка */
.backdrop {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;

  position: relative;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  right: 8px;
  top: 8px;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.close-button:hover,
.close-button:focus {
  fill: var(--accent-color);
}
.form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form__title {
  margin: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: rgba(33, 33, 33, 1);
}

.top-title {
  margin-top: 12px;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  justify-content: center;
}

.form__label,
.form__comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(33, 33, 33, 1);
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  margin: 0;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form__icon {
  fill: #000000;
  left: 15px;
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  top: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover ~ .form__icon,
.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  height: 120px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:hover,
textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field--check {
  padding-left: 14px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.policy-label {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.form-checkbox {
  opacity: 0;
  position: absolute;
}

.icon-check {
  fill: rgba(33, 33, 33, 1);
  margin-right: 9px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox:checked + .icon-check {
  fill: none;
  background-color: var(--accent-color);

  background-image: url(../img/svg/icon-checked.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
}

.policy-link {
  margin-left: 4px;
  color: rgba(33, 150, 243, 1);
}

.form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 56px;

  text-align: center;
  text-decoration: none;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn:hover,
.form__btn:focus {
  background-color: #188ce8;
}
