@import './utils/variables';
@import './components/header';
@import './components/header-nav';
@import './components/header-logo';
@import './components/header-contact-list';
@import './components/hero';
@import './components/benefits';
@import './components/activity';
@import './components/team';
@import './components/clients';
@import './components/footer';
@import './components/footer-links';
@import './components/footer-submit';
@import './components/modal';
@import './components/portfolio-nav';
@import './components/projects';


// https://DarleneZaremba.github.io/goit-markup-hw-08/