.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-flex {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: baseline;
}

.main-logo__footer {
    color: $white;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 20px;
}