.header-contact__list {
    display: flex;
    margin-left: auto;
}

.header-contact__list .header-contact__item+.header-contact__item {
    margin-left: 50px;
}



.header-contact__smartphone,
.header-contact__envelope {
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-contact__link:hover .header-contact__envelope,
.header-contact__link:focus .header-contact__envelope {
    fill: $accent-color;
}

.header-contact__link:hover .header-contact__smartphone,
.header-contact__link:focus .header-contact__smartphone {
    fill: $accent-color;
}