.hero {
    background-color: #2f303a;
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
        url(../mobilejpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgb(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)),
        url('mobile-2x');
    }
    @media screen and (min-width:768px) {
 
        max-width: 768px;
        background-image: linear-gradient(to right, rgb(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)),
        url('tablet.jpg');
     
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
         background-image: linear-gradient(to right, rgb(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)),
         url('tablet2xjpg');
         
        }
    }

    @media screen and (min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        height: 600px;
        max-width: 1600px;
        background-image: linear-gradient(to right, rgb(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)),
        url('imgdsktop');
      
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
         background-image: linear-gradient(to right, rgb(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)),
         url('imgdesktop@2x.jpg');
         
        }
      }

    &__title {
        margin-bottom: 30px;
        color: $white;
        font-family: Roboto, sans-serif;
        font-size: 44px;
        font-weight: 900;
        line-height: 1.4;
        letter-spacing: 0.06em;
        margin-bottom: 30px;

        @media screen and (max-width:1199px) {
            font-size: 26px;
            line-height: calc(42 / 26);
        }
    }

    &__button {
        min-width: 216px;
        height: 50px;

        &:hover,
        &:focus {
            background-color: #188ce8;
        }
    }
}

.hero > .container {
    text-align: center;
}

.hero__flex {
    display: flex;
    flex-direction: column;
}