@import 'form';

.backdrop {
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.2);

    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: scale(2);
}

.modal {
    width: 320px;
    min-height: 581px;
    background-color: $white;

    position: relative;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 480px) {
        width: 450px;
        min-height: 609px;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
        min-height: 581px;
    }
}

.close-button {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    right: 8px;
    top: 8px;
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-button:hover,
.close-button:focus {
    fill: $accent-color;
}