.team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f5f4fa;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__item {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: $white;
        @media screen and (max-width: 479px) {
            width: 270px;
        }
        
        @media screen and (min-width: 480px) {
            width: 450px;
        }
        
        @media screen and (min-width: 768px) {
            width: 354px;
        }
        
        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        grid-gap: 30px;
    }

    &__title {
        color: $title-text-color;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
            font-size: 36px;
        }
    }

    &__member {
        text-align: center;
        margin-bottom: 10px;
        color: $title-text-color;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        
    }

    &__job {
        color: $primary-text-color;
        margin-top: 10px;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }

    &__cards {
        padding: 30px 0px;
    }
}
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 0px 32px;
    margin-top: 16px;
    list-style: none;
    gap: 10px;
}

.social-media__item {
    width: 44px;
    height: 44px;
}

.social-media__link {
    display: block;

    width: 44px;
    height: 44px;
    border-radius: 50%;
  
    color: #afb1b8;
    background-color: $white;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      color: $white;
      background-color: $accent-color;
    }
}
.social-media__icon {
    margin: 12px 0px 0px 12px;
    fill: currentColor;
}

// .team__list .team__item+.team__item {
//     margin-left: 30px;
// }

// .team__list .social-media {
//     display: flex;
//     justify-content: center;
//     margin-top: 16px;
// }

// .team__list .social-media__item {
//     margin-right: 10px;
// }

// .team__list .social-media__item:last-child {
//     margin-right: 0;
// }

// .team__list .social-media__link {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 50%;
//     background-color:$white;

//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//         color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .team__list .social-media__link:hover {
//     background-color: $accent-color;
// }

// .team__list .social-media__icon {
//     fill: #afb1b8;
// }

// .team__list .social-media__link:hover .social-media__icon {
//     fill: $white;
// }
