$accent-color: #2196f3;
$title-text-color: #212121;
$primary-text-color: #757575;
$white: #fff;
$black: #000;

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background-color: $white;
    color: $primary-text-color;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}

.list {
    padding: 0;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

button,
a {
    cursor: pointer;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (min-width: 480px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  
    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
      // padding-left: 15px;
      // padding-right: 15px;
    }
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.section {

    @media screen and (max-width:1199px) {
        padding-top: 60px;
        padding-bottom: 60px;

    }
    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

// .blue-button {
//     display: inline-block;
//     color: #ffffff;
//     background-color: $accent-color;
//     font-family: inherit;
//     font-size: 16px;
//     font-weight: 700;
//     line-height: 1.9;
//     letter-spacing: 0.06em;
//     border: none;
//     border-radius: 4px;

//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//         color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
//     @media screen and (min-width: 480px) {
//         padding: 10px 32px;
//         font-size: 16px;
//         min-width: 200px;
//     }
// }


.section-title {
    color: $title-text-color;
}